<div class="flex items-center justify-center flex-col rounded-full bg-yellow-500 w-32 h-32">
  <h2 class="text-2xl font-black">
    Round
  </h2>
  <h4 class="text-xl">
    {{this.tictacService.context.round}}
  </h4>
</div>
